<h2>My Itinerary</h2>

<div id="idea-view-corkboard">
	<a title="View on corkboard as guest" alt="View on corkboard as guest" id="idea-view-as-guest" href="<%= trip_path(:id => @trip, :view => "itinerary") %>">View on corkboard &raquo;</a>
</div>