<div id="announcement" style="width: 250px; float: right;">
	<h2>What else can I do?</h2>
	<p id="site">If you know the duffel owner, please notify him/her about this message.</p>
</div>
        	<h1>This is a private duffel!</h1>
			<div id="site"><p>The duffel owner is probably not ready to share the fun yet. <br/> Alternatively, you can:</p>
			<ul>
				<li class="bullet"><a href="/trips">Browse other public duffels</a></li>
				<li class="bullet"><a href="/trips/new">Create a duffel</a></li>
				<li class="bullet"><a href="/">Go to homepage</a></li>
			</ul></div>
<div class="clear"></div>