@charset "UTF-8";
/* CSS Document */

/*-----------------------------------------------------------------------------------
	Containers
-----------------------------------------------------------------------------------*/

#header, #intro, #divider, #main { width: 975px; margin: 0 auto; }


/*-----------------------------------------------------------------------------------
	Helpers
-----------------------------------------------------------------------------------*/
.left {float:  left;}
.right{float: right;}
.center{margin-left: auto; margin-right: auto;}
.mute{color: #999;}
.hide{display: none;}
.clear{clear: both;}
.structural {
	position:absolute;
	left:-9999px;
}

.clearfix:after {
    content: "."; 
    display: block; 
    height: 0; 
    clear: both; 
    visibility: hidden;
}

.clearfix {display: inline-block;}

/* Hides from IE-mac \*/
* html .clearfix {height: 1%;}
.clearfix {display: block;}
/* End hide from IE-mac */


/*-----------------------------------------------------------------------------------
	Base Styles
-----------------------------------------------------------------------------------*/
html{
	font-size: 13px;
	line-height: 20px;
	font-family: Helvetica, Arial, Sans-serif;
}

body {background: #212E3D; margin: 0; padding: 0;}


/*-----------------------------------------------------------------------------------
	Header
-----------------------------------------------------------------------------------*/

h2#logo{
	float: left;
	width: 98px;
	height: 28px;
	margin: 10px 20px 0 20px;
	display: inline;
	background: url('/images/homepage/logo.png') no-repeat;
	text-indent: -5000px;
	font-weight:normal;
}

#header ul { float: right; margin: 13px 20px 0 0; }

#header li{
	display: inline;
	margin: 0 2px;
	color: #90979E;
}

#header li a { color: #90979E; font-size: 11px; text-decoration: none; }
#header li a:hover { color: #fff; }

#notice {
	padding:5px;
	font-weight:bold;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	-moz-border-radius-topleft:0;
	-webkit-border-top-left-radius:0;
	-moz-border-radius-topright:0;
	-webkit-border-top-right-radius:0;
	position:absolute;
	top:0;
	width:600px;
	left:50%;
	margin:0 0 0 -300px;
	background:#c6e842;
	text-align: center;
}

/*-----------------------------------------------------------------------------------
	Intro
-----------------------------------------------------------------------------------*/

#intro { 
	position: relative; 
	margin-top: 10px; 
	background:url('/images/homepage/intro_bg.jpg');
	background-repeat:repeat-x;
	height:432px;
	}
	
#features {
	width:719px;
	background:none;
	float:left;
}

h2#tagline {
	text-align:center;
	margin-top: 40px; 
	margin-bottom:10px;
	font-size:36px;
	font-family:Rockwell, Helvetica, Arial;
	color:#bbeb34;
	font-weight:normal;
	line-height:40px;
}

.feat_header {
	font-family:Helvetica, Arial, sans-serif;
	font-size:24px;
	color:#FFFFFF;
	letter-spacing:-0.5px;
	line-height:28px;
	margin-bottom: 5px;
}

.feat_text {
	font-family:Helvetica, Arial, sans-serif;
	font-size:16px;
	color:#D9D9D9;
	letter-spacing:-0.5px;
}

#feature_divider {
	width: 719px;
	height: 0px;
	clear:both;
}

#feature1 {
	float:left;
	width:204px;
	padding-left:20px;
	height:235px;
}

#feature1_text {
	float:left;
	width:204px;
	padding-left:20px;
}

img#feat1 {
	margin-top:30px;
	margin-left:10px;
	clear:both;
}

#feature2 {
	float:left;
	width:210px;
	padding-left:30px;
	height:235px;
}

#feature2_text {
	float:left;
	width:210px;
	padding-left:30px;
}

img#feat2 {
	margin-top:40px;
	margin-left:-20px;
	clear:both;
}

#feature3 {
	float:right;
	width:239px;
	padding-left:15px;
	height:235px;
}

#feature3_text {
	float:right;
	width:239px;
	padding-left:15px;
}

img#feat3 {
	margin-top:35px;
	clear:both;
}

#signup {
	width:256px;
	float:right;
	height:432px;
}

#signup_box {
	width:214px;
	height:360px;
	background-image:url('/images/homepage/signup_bg4.png');
	margin-top:40px;
	padding-top:5px;
	padding-left:10px;
	padding-right:10px;
	text-align:center;
}

h2#signup_header {
	font-family:Helvetica, Arial, sans-serif;
	font-size:24px;
	color:#FFFFFF;
	letter-spacing:-1px;
	font-weight:normal;
	margin-top:10px;
	margin-bottom:3px;
	float:left;
}

.signup_text_sm {
	font-family:Arial, Helvetica sans-serif;
	font-size:11px;
	color:#d9d9d9;
	letter-spacing:0px;
	clear:both;
	float:left;
}

.signup_text_med {
	font-family:Arial, Helvetica sans-serif;
	font-size:13px;
	color:#d9d9d9;
	letter-spacing:0px;
	clear:both;
}

.signup_text_big {
	font-family:Arial, Helvetica sans-serif;
	font-size:14px;
	color:#d9d9d9;
	letter-spacing:0px;
	clear:both;
}

#signup a:link {
	text-decoration: underline;
	color:#d9d9d9;
}

#signup a:active {
	text-decoration:underline;
	color:#d9d9d9;
}

#signup a:visited {
	text-decoration: underline;
	color:#d9d9d9;
}

#signup a:hover {
	text-decoration: underline;
	color:#ffffff;
}

#start-planning { background: url('/images/sign-up.png'); width: 209px; height: 46px; text-indent: -9595px; display: block; margin: 5px 0 10px 0px; float: left; }
#start-planning:hover { background-position: left center; }
#start-planning:active { background-position: left bottom; }

img.twfb_login {
	border:none;
	margin-bottom:10px;
	margin-top:5px;
}
	

/*-----------------------------------------------------------------------------------
	Forms
-----------------------------------------------------------------------------------*/
input[type=text],input[type=password],textarea {
	font:14px arial, helvetica, sans-serif;
	padding:5px;
	border:1px solid #999;
	border-bottom-color:#ccc;
	border-right-color:#ccc;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
	background: #fff url('/images/input-bg.png') repeat-x top left;
	margin-bottom:4px;
}

#user_home_city_auto_complete {
	text-align: left;
	font-size: 12px;
	line-height: 13px;
}

input[type=submit] {
	border: 0;
	padding:5px 18px;
	color:#565656 !important;
	cursor:pointer;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
	background:#f1f1f1 url('/images/button-bg.png') repeat-x center center;
	border-bottom: 1px solid #999;
	font-size: 14px;
	margin:8px 6px;
	float: left;
}

.login-buttons ul {
	list-style:none;
	padding:0;
	margin: 0 0 0 6px;
	height: 50px;
}

.login-buttons ul li {
	display: inline;
	float:left;
	line-height: 22px;
}

.login-buttons ul .twitter input, .login-buttons ul .facebook a {
	background:url("/images/homepage/twitter-login.png") no-repeat scroll left center transparent;
	border:0 none;
	display:block;
	height:22px;
	line-height:0;
	padding:0;
	text-indent:-5000px;
	width:83px;
}

.login-buttons ul .facebook a, .login-buttons ul .fbconnect_login_button {
	background-image:url("/images/homepage/fb-login.png");
	margin-top: 8px;
}

/*-----------------------------------------------------------------------------------
	Divider
-----------------------------------------------------------------------------------*/

#divider {
	margin-top:10px;
	margin-bottom:30px;
	height:2px;
	background-image:url('/images/homepage/divider2.gif');
	background-repeat:repeat-x;
}


/*-----------------------------------------------------------------------------------
	Main - 3 boxes: app, explore, social
-----------------------------------------------------------------------------------*/

#main {
	height:200px;
}

#app {
	width:325px;
	float:left;
}

img#app_pic {
	margin-left:30px;
	border:none;
}

#explore {
	width:285px;
	float:left;
	padding-left:30px;
	padding-right:10px;
}

.explore_header {
	font-family:Helvetica, Arial, sans-serif;
	font-size:20px;
	color:#bbeb34;
	letter-spacing:-1px;
	font-weight:normal;
	margin-top:0px;
	margin-bottom:3px;
}

.explore_text{
	font-family:Arial, sans-serif;
	font-size:14px;
	color:#d9d9d9;
	letter-spacing:-1px;
}

.explore_text_sm{
	font-family:Arial, sans-serif;
	font-size:11px;
	color:#d9d9d9;
	float:right;
	clear:both;
}

#explore ul {
  float: left;
  width: 240px;
  margin: 10px 0px 10px 20px;
  padding: 0;
  list-style: none;
  
}
 
#explore li {
  float: left;
  width: 120px;
  margin: 0;
  padding: 0;
}

#social {
	width:325px;
	float:right;
	text-align:left;
}

img.social_pic {
	margin-left:80px;
	margin-right:7px;
	border:none;
}

.social_text {
	font-family: Helvetica,Arial, sans-serif;
	font-size:18px;
	color:#d9d9d9;
	letter-spacing:-1px;
}

#main a:link {
	text-decoration: none;
	color:#d9d9d9;
}

#main a:active {
	text-decoration: none;
	color:#d9d9d9;
}

#main a:visited {
	text-decoration: none;
	color:#d9d9d9;
}

#main a:hover {
	text-decoration: none;
	color:#ffffff;
}


/*-----------------------------------------------------------------------------------
	Footer
-----------------------------------------------------------------------------------*/

#footer { background: #233142; border-top: 1px solid #263648; padding: 20px; text-align: center; font-size: 11px; color: #999; }
#footer a { margin: 0 10px; color: #90979E; text-decoration: none; }
#footer a:hover { color: #fff; }
#footer p { margin: 0; padding: 0; }