@charset "UTF-8";
/* CSS Document */

/*-----------------------------------------------------------------------------------
	Containers
-----------------------------------------------------------------------------------*/

#header, #divider, #main { width: 975px; margin: 0 auto; }


/*-----------------------------------------------------------------------------------
	Helpers
-----------------------------------------------------------------------------------*/
.left {float:  left;}
.right{float: right;}
.center{margin-left: auto; margin-right: auto;}
.mute{color: #999;}
.hide{display: none;}
.clear{clear: both;}
.structural {
	position:absolute;
	left:-9999px;
}

.clearfix:after {
    content: "."; 
    display: block; 
    height: 0; 
    clear: both; 
    visibility: hidden;
}

.clearfix {display: inline-block;}

/* Hides from IE-mac \*/
* html .clearfix {height: 1%;}
.clearfix {display: block;}
/* End hide from IE-mac */


/*-----------------------------------------------------------------------------------
	Base Styles
-----------------------------------------------------------------------------------*/
html{
	font-size: 13px;
	line-height: 20px;
	font-family: Helvetica, Arial, Sans-serif;
}

body {background: #212E3D; margin: 0; padding: 0;}


/*-----------------------------------------------------------------------------------
	Header
-----------------------------------------------------------------------------------*/

h2#logo{
	float: left;
	width: 98px;
	height: 28px;
	margin: 10px 20px 0 20px;
	display: inline;
	background: url('/images/homepage/logo.png') no-repeat;
	text-indent: -5000px;
	font-weight:normal;
}

#header ul { float: right; margin: 13px 20px 0 0; }

#header li{
	display: inline;
	margin: 0 2px;
	color: #90979E;
}

#header li a { color: #90979E; font-size: 11px; text-decoration: none; }
#header li a:hover { color: #fff; }

#notice {
	padding:5px;
	font-weight:bold;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	-moz-border-radius-topleft:0;
	-webkit-border-top-left-radius:0;
	-moz-border-radius-topright:0;
	-webkit-border-top-right-radius:0;
	position:absolute;
	top:0;
	width:600px;
	left:50%;
	margin:0 0 0 -300px;
	background:#c6e842;
	text-align: center;
}

#trip_destination_auto_complete { z-index:5; }

/*-----------------------------------------------------------------------------------
	Intro
-----------------------------------------------------------------------------------*/

#intro { 
	position: relative; 
	margin-top: 10px; 
	background-image:url('/images/bg-corkboard.jpg');
	background-position: center center;
	height: 430px;
	box-shadow: 0 3px 6px rgba(0, 0, 0, 0.4) inset;
	-moz-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.4) inset;
	-webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.4) inset;
}
	
#features {
	width:819px;
	background-image:url('/images/homepage/intro_bg.png');
	height:360px;
	margin: 0 auto;
	top: 20px;
	position: relative;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	border-radius:10px;
	-moz-box-shadow: 0 3px 6px rgba(0,0,0,0.5);
	-webkit-box-shadow: 0 3px 6px rgba(0,0,0,0.5);
	box-shadow: 0 3px 6px rgba(0,0,0,0.5);
}

h2#tagline {
	text-align:center;
	font-size:36px;
	font-family:Rockwell, Helvetica, Arial;
	color:#bbeb34;
	font-weight:500;
	line-height:40px;
	margin: 0 auto;
	padding: 30px 0 0;
	text-shadow: 0 -1px 0 #000000;
}

#start-planning { background: url('/images/sign-up.png'); width: 209px; height: 46px; text-indent: -9595px; display: block; margin: 5px 0 10px 0px; float: left; }
#start-planning:hover { background-position: left center; }
#start-planning:active { background-position: left bottom; }

img.twfb_login {
	border:none;
	margin-bottom:10px;
	margin-top:5px;
}

#button-container {
	height: 60px;
	width: 975px;
	margin: 0 auto;
}

#button-container a#main {
	top: 50px;
	left: 400px;
	position: relative;
	padding:13px 14px 11px 14px;
	width: 150px;
	height: 25px;
	vertical-align: middle;
	text-align: center;
	color:#606060;
	cursor:pointer;
	-moz-border-radius:8px;
	-webkit-border-radius:8px;
	border-radius:8px;
	background:#f1f1f1 url('/images/button-bookmarklet.gif') no-repeat scroll 0 0;
	border-bottom: 1px solid #999;
	font-size: 20px;
	margin:8px auto;
	font-weight: bold;
	text-shadow: 1px 1px 1px white;
	text-decoration: none;
	-moz-box-shadow: 0 2px 4px rgba(0,0,0,0.5);
	-webkit-box-shadow: 0 2px 4px rgba(0,0,0,0.5);
	box-shadow: 0 2px 4px rgba(0,0,0,0.5);
}

#button-container a#main:hover, #button-container a#header:hover {
	color: #F20063;
}

#button-container a#header {
	background:#f1f1f1 url('/images/button-bg.png') repeat-x center center;
	padding:7px 14px;
	width: 120px;
	height: 20px;
	vertical-align: middle;
	text-align: center;
	color:#606060;
	cursor:pointer;
	-moz-border-radius:8px;
	-webkit-border-radius:8px;
	border-radius:8px;
	font-size: 16px;
	font-weight: bold;
	text-shadow: 1px 1px 1px white;
	text-decoration: none;
}
	

/*-----------------------------------------------------------------------------------
	Forms
-----------------------------------------------------------------------------------*/
#form-container {
	margin: 16px auto;
	padding: 18px 0;
	width: 610px;
	height: 50px;
}

#form-container input#trip_destination {
	padding: 5px 0 5px 20px;
	width: 480px;
	height: 35px;
	color:#777;
	-moz-border-radius:20px;
	-webkit-border-radius:20px;
	border-radius:10px;
	background:#f1f1f1;
	border: 0 none;
	font-size: 23px;
	margin:0 auto;
	box-shadow: 0 1px 1px #555 inset;
	webkit-box-shadow: 0 1px 1px #555 inset;
	moz-box-shadow: 0 1px 1px #555 inset;
}

#form-container input#trip_destination:focus {
	color: #000;
}

#form-container input[type="submit"] {
	background: #d0d0d0;
	padding:5px 30px;
	text-align: center;
	color:#606060;
	cursor:pointer;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	border-radius:10px;
	font-size: 20px;
	font-weight: bold;
	text-shadow: 1px 1px 1px white;
	text-decoration: none;
	border: 0;
	box-shadow: 0 2px 3px #555;
	webkit-box-shadow: 0 2px 3px #555;
	moz-box-shadow: 0 2px 3px #555;
}

#form-container input[type="submit"]:hover {
	color: #F20063;
}

#form-container #indicator {
	position: relative;
	left: 460px;
	bottom: 30px;
}

div.auto_complete .cities {
	border: 0;
}

.auto_complete {
	text-align: left;
	font-size: 20px;
	line-height: 28px;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	border-radius:10px;
	color: #333;
}

.auto_complete .cities li {
	margin: 0 15px;
}

.auto_complete li.selected {
	margin: 0 15px;
}

.login-buttons ul {
	list-style:none;
	padding:0;
	margin: 0 0 0 6px;
	height: 50px;
}

.login-buttons ul li {
	display: inline;
	float:left;
	line-height: 22px;
}

.login-buttons ul .twitter input, .login-buttons ul .facebook a {
	background:url("/images/homepage/twitter-login.png") no-repeat scroll left center transparent;
	border:0 none;
	display:block;
	height:22px;
	line-height:0;
	padding:0;
	text-indent:-5000px;
	width:83px;
}

.login-buttons ul .facebook a, .login-buttons ul .fbconnect_login_button {
	background-image:url("/images/homepage/fb-login.png");
	margin-top: 8px;
}

#explore-destinations li {
	float: left;
	margin-right: 42px;
	list-style: none outside none;
	text-align: center;
}

#explore-destinations h2 {
	text-transform: uppercase;
	margin-left: 20px;
	color: #e0e0e0;
	font-size: 1.3em;
	letter-spacing: 1px;
	display:inline;
	font-weight: normal;
}

#explore-destinations li a{
	color: #ddd;
	margin-top:3px;
}

#explore-destinations li img{
	border:0;
	opacity: 0.9;
}

#explore-destinations li img:hover{ opacity: 1; }
#explore-destinations li a:hover{ color: #fff; }

/*-----------------------------------------------------------------------------------
	Divider
-----------------------------------------------------------------------------------*/

#divider {
	margin-top:10px;
	margin-bottom:30px;
	height:2px;
	background-repeat:repeat-x;
}


/*-----------------------------------------------------------------------------------
	Main - 3 boxes: app, explore, social
-----------------------------------------------------------------------------------*/

#main {
	height:100px;
	width:930px;
}

#app {
	width:300px;
	float:left;
}

img#app_pic {
	margin-left:30px;
	border:none;
}

#short-intro {
	background: url('/images/homepage/intro_gradient_bg.jpg') no-repeat scroll 0 0 transparent;
	width:260px;
	height: 140px;
	float:left;
	margin-left:40px;
	margin-right:70px;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	border-radius:10px;
}

a.short-intro-link {
	width:260px;
	height: 140px;
	padding-top: 15px;
	display: block;
	text-align: center;
	font: 24px Rockwell,Helvetica,Arial;
	color: #eee;
	line-height: 27px;
	text-shadow: 0 1px rgba(0, 0, 0, 0.9);
}

span.faux_link {
	font: 14px Helvetica, Arial, sans-serif;
	text-transform: uppercase;
	background: #2d394c;
    border-radius: 20px;
	-moz-border-radius: 20px;
	-webkit-border-radius: 20px;
    display: block;
    height: 20px;
    margin: 0 auto;
    overflow: hidden;
    padding: 7px 0 2px 0;
    text-align: center;
    width: 250px;
	margin-left: -5px;
}

span.faux_link:hover {
	background: #444;
}

.explore_header{
	font-family:Helvetica, Arial, sans-serif;
	font-size:20px;
	color:#bbeb34;
	letter-spacing:-1px;
	font-weight:normal;
	margin-top:0px;
	margin-bottom:3px;
}

.explore_text{
	font-family:Arial, sans-serif;
	font-size:14px;
	color:#d9d9d9;
	letter-spacing:-1px;
}

.explore_text_sm{
	font-family:Arial, sans-serif;
	font-size:11px;
	color:#d9d9d9;
	float:right;
	clear:both;
}

#social {
	width: 270px;
	float: left;
}

#social li{
	list-style-type: none;
	padding: 3px 0;
	height: 35px;
}

#social .twitter { background: url('/images/social/twitter-32x32.png') no-repeat 0px 0px; }
#social .facebook { background: url('/images/social/facebook-32x32.png') no-repeat 0px 0px; }
#social .blog { background: url('/images/social/blog-32x32.png') no-repeat 0px 0px; }
#social .apple { background: url('/images/social/apple-32x32.png') no-repeat 0px 0px; }

.social_text {
	font-family: Helvetica,Arial, sans-serif;
	font-size:18px;
	color:#d9d9d9;
	padding: 0 0 0 40px;
	line-height:28px;
}

img.social_pic {
	margin-left:80px;
	margin-right:7px;
	border:none;
}

#main a:link {
	text-decoration: none;
	color:#d9d9d9;
}

#main a:active {
	text-decoration: none;
	color:#d9d9d9;
}

#main a:visited {
	text-decoration: none;
	color:#d9d9d9;
}

#main a:hover {
	text-decoration: none;
	color:#ffffff;
}

#main a.explore_link {
	text-decoration: underline;
}


/*-----------------------------------------------------------------------------------
	Footer
-----------------------------------------------------------------------------------*/

#footer { background: #233142; border-top: 1px solid #263648; padding: 20px; text-align: center; font-size: 11px; color: #999; }
#footer a { margin: 0 10px; color: #90979E; text-decoration: none; }
#footer a:hover { color: #fff; }
#footer p { margin: 0; padding: 0; }