<div id="searchHeader">
  <% if @sub_title %>
  	<strong><a href="/">Duffel</a> &nbsp;&rsaquo;&nbsp; <%= @sub_title %></strong>
  <% elsif logged_in? %>
	<strong>Howdy, <%= display_user_name(current_user) %>!</strong>
  <% end %>

  <% form_tag search_path, :method => 'get', :id => 'search_form' do %>
    <fieldset>
      <%= submit_tag "", :name => nil, :class => 'button' %>
      <%= text_field_tag :q, params[:q], :class => 'field', :value => "Find places or people...", :onfocus => "if(this.value=='Find places or people...')this.value='';", :onblur => "if(this.value=='')this.value='Find places or people...';" %>
    </fieldset>
  <% end %>
</div>
