
<ul class="tabnav">
	<li id="tb1"><%= link_to 'Profile<span>Change your profile</span>', edit_user_path %></li>
	<li id="tb2"><%= link_to 'Password<span>Change your password</span>', password_path %></li> 
	<div class="clear"></div>
</ul>


