<div id="primary-inner">
<div class="page-header"><h1>Forgot Password?</h1></div>

<%- form_for(:password, :url => { :controller => 'users', :action => 'forgot_password' }, :method => 'post') do |f| -%>
<fieldset>
	<p>Please enter your email and we'll send you a new password.</p><br/>

	<p><label for="email">Email:</label>
	<%= f.text_field :email, :value => @email_field, :size => 20 %>
	</p>
	
	<div id="form-submit"><%= submit_tag "Reset my password", :class => "btn" %></div>
</fieldset>
<%- end -%>
</div>