<div id="clip-it">
	
	<div class="next-step">
		<div style="margin-top: 80px">
		<h3>Ready to plan your trip?</h3>
		<ul style="line-height:22px">
			<li><big><%= link_to "Yup! Take me to my dashboard &raquo;", dashboard_path(:new => "1") %></big></li>
			<li><small><a href="/site/tools">Learn more about bookmarker &raquo;</a></small></li>
		</ul>
		</div>
	</div>

	<h1><big>Before you start planning your trip...</big></h1>

	<p style="width: 440px">Try our <strong>one-click</strong> bookmarker tool!</p>
	
	<ul>
		<li><big>&bull;</big> Clip travel research from any website</li>
		<li><big>&bull;</big> Save lodging options and activities</li>
		<li><big>&bull;</big> Add Photos, maps, and more!</li>
	</ul>
	<br/>
	<%= render :partial => "shared/bookmarklet" %>
	
</div>
<br/>
<script language="javascript">
	mpmetrics.track('Load step two page');
</script>