<div id="primary-inner">
<div id="clip-it">
	
	<div class="next-step">
		<div style="margin-top: 80px">
		<h3>Ready to plan your trip?</h3>
		<ul style="line-height:22px" class="unstyled">
			<li><big><%= link_to "Yup! Take me to my dashboard &raquo;", dashboard_path(:new => "1") %></big></li>
		</ul>
		</div>
	</div>

	<h1>Clip travel ideas from any website</h1>
	
	<ul>
		<li> Clip travel notes from any website</li>
		<li> Save lodging options and activities</li>
		<li> Add photos, maps, and more!</li>
	</ul>
	<br/>
	<%= render :partial => "shared/bookmarklet" %>
	
</div>
</div>