		<div id="footer" class="clearfix footer">
			<p> 
				<span class="left" style="font-size:1.1em">Follow us on <a style="padding:0;margin:0;" target="_blank" href="http://twitter.com/duffelup"><u>Twitter</u></a> and <a style="padding:0;margin:0;" target="_blank" href="http://www.facebook.com/duffelup"><u>Facebook</u></a></span>
				<span class="right">
				<a href="/explore">Explore</a>
				<a href="/site/about">About</a>  
				<a href="http://blog.duffelup.com">Blog</a>
				<a href="/site/press">Press</a>
				<a href="/business/overview">Businesses</a>
				<a href="/site/terms_of_use">Terms</a>
				<a href="/site/privacy_policy">Privacy</a>
				<a onclick="feedback_widget.show()" href="#">Feedback</a>
				</span>
				<br/>
				<span class="left">Copyright &copy; 2011 Duffel, Inc.</span>
			</p>
		</div>	<!-- #footer -->