<li class="nav-button"><a href="/trips/new">Create Duffel +</a></li>
<li class="nav-avatar"  onmouseover="$('duffels-submenu').show();" onmouseout="$('duffels-submenu').hide();">
	<a class="dashboard" href="/user/dashboard"  onmouseover="$('duffels-submenu').show();" onmouseout="$('duffels-submenu').hide();"> <%= display_thumbnail(current_user) %> &nbsp;You <img class="arrow" src="/images/icon-down-arrow.png" style="vertical-align:middle;"></a>
	<ul class="submenu" id="duffels-submenu"  style="display:none;" onmouseover="$('duffels-submenu').show();" onmouseout="$('duffels-submenu').hide();">
		<li style="margin-top:5px;margin-bottom:3px;border-bottom:1px solid #7c7c7c"><a href="/duffel_invitations/new">Invite Friends</a></li>
		<li onclick="location.href='/user/dashboard?tab=duffels-active';$('tb-duffels').addClassName('selected'); $('tb-updates').removeClassName('selected'); $('tb-deals').removeClassName('selected'); $('loading-spinner').show(); return false;"><a href="#">My Duffels</a></li>
		<li onclick="location.href='/user/dashboard?tab=duffels-faves';$('tb-duffels').addClassName('selected'); $('tb-updates').removeClassName('selected'); $('tb-deals').removeClassName('selected'); $('loading-spinner').show(); return false;"><a href="#">Favorite Duffels</a></li>
		<!-- <li><a href="">Likes</a></li> -->
		<li style="margin-bottom:3px;border-bottom:1px solid #7c7c7c"><a href="/featured">Featured</a></li>
		<li><a href="/site/tools">Bookmarklet</a></li>
		<li><a href="/user/edit">Account</a></li>
		<% if current_user.facebook_user? && facebook_session %>
			<li class="parent hover"><a href="#" onclick='FB.Connect.logoutAndRedirect("/logout")'>Logout</a></li>
		<% else %>
			<li class="parent hover"><%= link_to "Logout", logout_url %></li>
		<% end %>
	</ul>
</li>