<div class="idea-actions">
	<% if sortable_tile %>
		<span class="idea-edit"><%= fast_link("info", "trips/#{@trip.permalink}/ideas/#{event.id}/edit", "rel=\"ibox\" title=\"Edit\" alt=\"Edit\"") %></span>
		<span class="delete"><%= link_to_remote "[x]", 
				{ :url => trip_idea_path(:permalink => @trip.permalink, :id => event.id), 
				  :confirm => "Are you sure you want to delete #{event.title}?", 
				  :method => :delete },
				  :title => "Delete",
				  :alt => "Delete",
				  :title => "Delete" %></span>
	<% end %>
	<% if logged_in? %>
	<span class="idea-copy"><%= build_url_for_copy("copy", event, nil, @trip.permalink) %></span>
	<% end %>
	<span class="idea-info"><a href="#" onclick="<%= display_onclick_event_details(@trip.permalink, event.id, event.list) %>" alt="More Info" title="More Info">more info</a></span>
</div>
