<div class="idea-actions">
	<% if sortable_tile %>
		<span class="idea-edit"><%= fast_link("info", "trips/#{@trip.permalink}/ideas/#{event.id}/edit", "rel=\"ibox\" title=\"Edit\" alt=\"Edit\"") %></span>
		<span class="delete"><%= link_to_remote "[x]", 
				{ :url => trip_idea_path(:permalink => @trip.permalink, :id => event.id), 
				  :confirm => "Are you sure you want to delete #{event.title}?", 
				  :method => :delete },
				  :title => "Delete",
				  :alt => "Delete",
				  :title => "Delete" %></span>
	<% end %>
	
	<% if logged_in? %>
	<span class="idea-copy"><%= build_url_for_copy("copy", event, nil, @trip.permalink) %></span>
	<% end %>
	
	<% if event.eventable_type != "Notes" and event.eventable_type != "Transportation" and !event.website.empty? %>
	<span class="idea-link"><a href="#" alt="Go to website" title="Go to website">Go to website</a></span>
	<% end %>
</div>
