<div class="idea-actions">
	<% if sortable_tile %>
		<span class="delete"><%= link_to_remote "[x]", 
				{ :url => trip_idea_path(:permalink => @trip.permalink, :id => event.id), 
				  :confirm => "Are you sure you want to delete #{event.title}?", 
				  :method => :delete }, 
				  :title => "Delete" %></span>
	<% end %>
</div>
