<!--
# Goes through each day and lists out corresponding events for each day 
-->
<ul id="itinerary_list_<%= day+1 %>">

	<li class="divider"><%= (@trip.start_date + day).strftime("%A, %B %d") %></li>

	<% for event in @itinerary[day+1] %>
		<%= render :partial => 'events/partial_tiles/scheduled_tile', :locals => { :event => event, :day => day, :map => map }%>
	<% end %> <!-- end of for event loop -->
</ul>