
<h2>Add a Note</h2>

<div class="tile-actions">	
<p>You can add ideas from any website with just one click.</p> 
<div class="t15"><%= render :partial => "shared/bookmarklet", :locals => {:small => true} %></div>
</div>

<% form_for(:event, :url => trip_ideas_url(:idea_type => 'notes', :view => params[:view])) do |form| %>

	<%= error_messages_for :notes, :event %>
	
	<%= render :partial => "events/partial_forms/notes_form", :locals => { :form => form } -%>

<div id="form-submit" class="clearfix"><%= submit_tag "Add Note", :class => "submit-flush", :onclick => "$('indicator').show();" %><span id="indicator" style="display:none;">&nbsp;&nbsp;<img src="/images/ajax-loader.gif"></span></div>
<% end %>
