<div class="modal-header" style="border:none;padding-bottom:10px">
  <a type="button" class="close" data-dismiss="modal" href="#">×</a>
	<h2>Add a Note</h2>
</div>

<% form_for(:event, :url => trip_ideas_url(:idea_type => 'notes', :view => params[:view])) do |form| %>

<div class="modal-body" style="padding-top:0;">
	
	<%= render :partial => "events/partial_forms/notes_form", :locals => { :form => form } -%>

</div>

<div class="modal-footer">
  <span id="indicator" style="display:none;">&nbsp;&nbsp;saving...&nbsp;&nbsp;<img src="/images/ajax-loader.gif"></span>&nbsp;&nbsp;
  <%= submit_tag "Save", :onclick => "$('indicator').show();", :class => "btn btn-primary" %>
  <a href="#" class="btn" data-dismiss="modal">Cancel</a>
</div>

	<% end %>