<p>Hey <%= display_user_name(@user) %>,
<br/><br/>

Congratulations! Your duffel <a target="_blank" href="http://duffelup.com/trips/<%= @trip.permalink %>"><%= @trip.title %></a> is being featured on our All-Stars page.  Take a look: <a target="_blank" href="http://duffelup.com/featured">http://duffelup.com/featured</a>. 
<br><br>
We'd love it if you sent us some comments about your duffel, so we can share your travel experience on our blog.  How was the trip and with whom did you travel? How did your duffel help plan your trip?  You can find more about our journal here: <a target="_blank" href="http://blog.duffelup.com/tagged/journal">http://blog.duffelup.com/tagged/journal</a>.
<br><br>
Please email us at (<a target="_blank" href="mailto:will@duffelup.com">will@duffelup.com</a>) with comments and/or any questions.
<br><br>
Thanks for your great duffeling - keep up the travel!
<br><br>
- The Duffel Team
<br>
<a target="_blank" href="http://duffelup.com/">http://duffelup.com</a>
</p>