<p>
Hello <%= display_user_name(@user) -%>,

<br><br>
Please <a target="_blank" href="http://duffelup.com/login">login</a> to Duffel with your username <b><%= @user.username -%></b> and password: <%= @password -%>
<br><br>
***Remember to change your password once you login.***
<br><br>
We look forward to see you soon!
<br><br>
- The Duffel Team
<br>
<a target="_blank" href="http://duffelup.com/">http://duffelup.com</a>
</p>
