<p>
Hello <%= @username %>,
<br><br>
Welcome to Duffel, the most fun and visual trip planner.  You must be excited to start planning your next adventure, so let's get started!  
<br><br>
You can first check out our <a target="_blank" href="http://duffelup.com/site/tools">Clip-It Bookmarklet</a>, the quickest way to start clipping your travel research anywhere from the web.
Need ideas? <a target="_blank" href="http://duffelup.com/trips">Check out duffels</a> from our community, where users are sharing their travel ideas and itineraries.
<br><br>
Don't forget to follow us on <a target="_blank" href="http://twitter.com/duffelup">Twitter @duffelup</a> and <a target="_blank" href="http://www.facebook.com/duffelup">Facebook fan page</a> for news and updates.
<br><br>
If you have any questions about Duffel, you might want to browse our Help page at 
<a target="_blank" href="http://duffelup.com/site/help">http://duffelup.com/site/help</a>.
<br><br>
Thanks for signing up.  We hope you enjoy Duffel!
<br><br>
- The Duffel Team
<br>
<a target="_blank" href="http://duffelup.com/">http://duffelup.com</a>
</p>
<br>
=====================================================
<p>
	p.s. You can change your email settings <a target="_blank" href="http://duffelup.com/user/edit">here</a>.
</p>