<p>
Hello <%= @username %>,
<br><br>
Welcome to Duffel, a fun and 'corky' trip planner.  We're super excited to help you capture your travel inspirations!
<br><br>
A few tips to get the most out of Duffel:<br/>
- Install our <a target="_blank" href="http://duffelup.com/site/tools">Clip-It Bookmarklet</a>. It lets you clip travel notes from any website with one click.<br/>
- Need ideas? <a target="_blank" href="http://duffelup.com/trips">Check out duffels</a> from our community, where users are sharing their travel ideas and itineraries.
<br><br>
Thanks for signing up.  We hope you enjoy Duffel!
<br><br>
- The Duffel Team
<br>
<a target="_blank" href="http://duffelup.com/">http://duffelup.com</a>
</p>
<br>
=====================================================
<p>
	p.s. You can change your email settings <a target="_blank" href="http://duffelup.com/user/edit">here</a>.
</p>