<div class="right-message" style="width: 230px;">
<h4>About</h4>
<ul style="margin-bottom: 20px;line-height:16px;font-size:13px;" class="unstyled">
	<li><a href="/site/about">About Us</a></li>
	<li><a href="/site/tour">Take a Tour</a></li>
	<li><a href="http://duffelup.posterous.com/" target="_blank">Our Blog</a></li>
	<li><a href="/site/help">Help and FAQs</a></li>
	<!-- <li><a href="/site/jobs">We're Hiring!</a></li> -->
	<li><a href="/site/contact">Contact Us</a></li>
</ul>

<h4>Press</h4>
<ul style="margin-bottom: 20px;line-height:16px;font-size:13px;" class="unstyled">
	<li><a href="/site/press#press-kit">Press Kit</a></li>
	<li><a href="/site/press#press-contact">Press Contact</a></li>
	<li><a href="/site/press#press-news">News about Duffel</a></li>
	<li><a href="/site/press#what-people-are-saying">What People Are Saying</a></li>
	<li><a href="/site/press#press-release">Press Release</a></li>
</ul>

<h4>Don't be shy. Talk to us!</h4>
<p style="padding-top:10px">
	<a href="http://twitter.com/duffelup" target="_blank"><img src="/images/social/twitter-32x32.png" alt="Twitter" width="32" height="32"/></a> 
	<a href="http://www.facebook.com/duffelup" target="_blank"><img src="/images/social/facebook-32x32.png" alt="Facebook" width="32" height="32"/></a> 
	<a href="http://duffelup.posterous.com" target="_blank"><img src="/images/social/blog-32x32.png" alt="Duffel Blog" width="32" height="32"/></a>
	<a href="/site/contact"><img src="/images/social/email-32x32.png" alt="Email Us" width="32" height="32"/></a>
</p>
</div>