<%= render :partial => 'right_menu'%>

<div id="site">
<h1>About Duffel</h1>
<h2><big>Why is it called duffel?</big></h2>
<p>When you are going places, a duffel bag is used to carry your clothes and travel accessories. Our "duffel" is place for you to collect your ideas on where to go and what to do while you're traveling.</p>
<br/>
<h2><big>What is duffel?</big></h2>
<p>Duffel is a bookmarking tool to save and share favorite restaurants, notes and websites.</p>
<p>Duffel is a trip planning tool that helps travelers organize ideas, research and recommendations.</p>
<p>Duffel is a virtual corkboard that helps visualize your notes and travel itineraries.</p>
<br/>
<h2><big>What else is it useful for?</big></h2>
<p>Plan your dream trip, of course! When you're thinking about your vacation, you may want to dine out at a <strong>Zagat's top-rated restaurant</strong>, swim in a <strong>hidden beach</strong> that 
	your friends recommended, and rest your legs at <strong>Trip Advisor's most popular hotel</strong>.	
	Duffel is not only a place where you can collaboratively store, organize and archive all these 
	travel ideas and trips, but you can also use them to compile your own itineraries that go hand-in-hand with your
	favorite travel guidebook.
</p>  
<br/>
<%= link_to 'Take a tour', '/site/tour', :style => 'background: url(/images/tour/take-a-tour.png); width: 170px; height: 40px; text-indent: -9595px; display: block; margin: 17px 0 0 15px; float: left;' %>
<%= link_to 'Sign up now', signup_url, :style => 'background: url(/images/tour/sign-up.png); width: 231px; height: 51px; text-indent: -9595px; display: block; margin: 13px 0 0 15px; float: left;' %>

<div class="clear"></div>

<br/>
<h2><big>Also Check Out...</big></h2>
<p>Our <a href="http://blog.duffelup.com">blog</a>, <a href="http://twitter.com/duffelup">Twitter</a>, and <a href="http://www.facebook.com/pages/Duffel/143192490080">Facebook</a> for updates about what's new on 
	our site and how to plan smarter travel.
</p>

<br>
<p>Have questions?  Please <%= link_to "contact us", { :controller => 'site', :action => 'contact' }, :id => 'site' %>.</p>
</div>