
<h1>Oops, your browser is currently not supported (and we're working hard to fix it).</h1>
<h3>For best Duffel experience, please use Firefox, Safari, Chrome, or Internet Explorer 7/8.  Thanks. </h3>
<br/>
<div id="site">
<a href="http://duffelup.com">Try Anyway &rarr;</a><br/>
</div>
