<%= render :partial => 'right_menu'%>

<div id="site">
<h1>Contact Us</h1>

<h2>Business Development Inquiries</h2>
<p style="padding-left:15px;">Please email <a id="site" href="mailto:business@duffelup.com">business@duffelup.com</a>.</p>

<h2>Press Inquiries</h2>
<p style="padding-left:15px;">Please visit our <a href="/site/press">press center</a>.</p>

<h2>Just want to ask questions?</h2>
<p style="padding-left:15px;">Please email <a id="site" href="mailto:contact@duffelup.com">contact@duffelup.com</a>.</p>

<h2>Have feedback?</h2>
<p style="padding-left:15px;">We're always looking to improve, so please <a id="site" onclick="feedback_widget.show()" href="#">leave your feedback here</a>.</p>
</div>
<br/><br/>