<style type="text/css">

table[width=770] {
margin: 0 auto;
}

#duffel-IAN-nav
{
display:inline;
}

#duffel-IAN-nav ul {
background:#f3f3f3 url(http://duffelup.com/images/bg-tripheader.gif) repeat-x center;
margin: 0;
padding: 0;
font-size:125%;
height:60px;
-moz-border-radius-bottomleft: 10px;
-webkit-border-bottom-left-radius:10px;
-moz-border-radius-bottomright:10px;
-webkit-border-bottom-right-radius:10px;
width:770;
}

#duffel-IAN-nav li {
display:block;
float:left;
margin:0;
padding: 0;
line-height:59px;
border-right:1px solid #D2D2D2;
}

#duffel-IAN-nav a {
color: #000;
font: bold 14px Arial, helvetica;
display: block;
line-height:59px;
text-decoration: none;
padding:0 16px;
}
#duffel-IAN-nav a:hover {
color: #F20063;
}

body {
	font: 14px arial, sans-serif;
}

</style>


<iframe name="duffel_frame" frameborder="0" width="770" height="50" noresize="noresize" scrolling="no" src="http://duffelup.com/site/partner_header"/></iframe>

<div id="duffel-IAN-nav">
<ul>
<!--<li><a href="http://reserve.duffelup.com/index.jsp?cid=261673">Home</a></li>-->
<li><a href="http://reserve.duffelup.com/hotels/index.jsp?cid=261673">Hotels</a></li>
<li><a href="http://reserve.duffelup.com/airlines/index.jsp?cid=261673">Flights</a></li>
<!-- <li><a href="http://vacations.ian.com/pubspec/scripts/eap.asp?goto=pkglaunch&eapid=51956-30024&packageType=1">Packages</a></li> -->
<li><a href="http://reserve.duffelup.com/cars/index.jsp?cid=261673">Rental Cars</a></li>
<li><a href="http://reserve.duffelup.com/index.jsp?pageName=condos&currencyCode=USD&additionalDataString=vrBookingSource|index&locale=en_US&isRedirect=true&isFlash=true&isDetectFlash=false&cid=261673">Vacation Rentals</a></li>
<!-- <li><a href="http://reserve.duffelup.com/index.jsp?pageName=hotelSpecials&currencyCode=USD&additionalDataString=vrBookingSource|index&locale=en_US&cid=261673">Hot Deals</a></li> -->
<li><a href="http://partner.viator.com/en/7101">Things To Do</a></li>
<!-- <li style="border:0"><a href="http://cruises.ian.com/default.asp?cid=261673">Cruises</a></li> -->
<li><a href="http://reserve.duffelup.com/index.jsp?pageName=viewOrCancelReservation&currencyCode=USD&additionalDataString=vrBookingSource|index&locale=en_US&cid=261673">My Reservations</a></li>
</ul>
</div>
