<div id="primary-inner">
<%= render :partial => 'right_menu'%>

<div id="site">
<h1>Jobs at Duffel</h1>
<p>We are a small startup who's looking for people that are passionate about travel and technology.
Our vision is to build the funnest trip planning tool while providing our community a catalog of all the best things to do, places to eat, and unique travel experiences.
We pride ourselves not only on having an interactive and flexible working environment, but more importantly, delivering value and eye candies to our users.

<h2>Open Positions</h2>
<p><strong>Marketing Intern</strong></p>
<p>We're looking for an intern to help us promote our tool and community via channels such as Twitter, Facebook, blog, Flickr, etc.</p>
<p>Requirements:</p>
<ul id="site_page">
	<li>Adept with social media channels and tools</li>
	<li>Create and manage travel content</li>
	<li>Have good understanding of building a community and keeping users engaged</li>
</ul>
<br/>
<p><strong>Software Engineer Lead</strong></p>
<p>We are building a solid engineering team who are excited about working in a productive and flexible environment. There is no set job description.  One day you might be building a brand new feature, another day learning about a third-party API or even designing an algorithm that matches travelers with things to do in new places. This position will also help interview and lead other engineers.</p>
<p>Requirements:</p>
<ul id="site_page">
	<li>BS / MS in Computer Science or equivalent work experience</li>
	<li>Several years of software development experience ideally working on SaaS or internet-based products</li>
	<li>Solid experience with Ruby, Rails, MySQL, JavaScript, Unix/Linus</li>
	<li>Experience with scaling web applications, ETL, and/or SEO a plus</li>
	<li>Passion for exploring the world a plus too!</li>
</ul>
<br/>
<p id="announcement">To apply, send your resume to <a href="mailto:jobs@duffelup.com">jobs@duffelup.com</a> and include a few sentences about how you can further improve Duffel.</p>
</div>
</div>