<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" dir="ltr" lang="en-US">

<head profile="http://gmpg.org/xfn/11">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<%= stylesheet_link_tag 'bootstrap' %>
<title>Duffel Partners</title>
<style type="text/css">

#logo { float: left; }
#logo a {
	float:left;
	background:url(/images/logo-t-w.png) no-repeat left 3px;
	width:81px;
	height:25px;
}

#account {
	float:right;
	display:inline;
}

#account ul {
	display:inline;
}

#account li {
	color:#caed3b;
	display:inline;
	margin:0;
}

#account span {
	color:#fff;	
}

#header {
	color:#fff;
	font-weight:bold;
}

body {
	margin:0; background:#2a3b4f;
	color: #fff;
	font: 14px arial, sans-serif;
}
a { color: #fff; }
</style>

</head>
<body>

<%= render :partial => 'shared/header_nav', :locals => { :partner => true } %>

</body>
</html>



