<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Frameset//EN"
   "http://www.w3.org/TR/html4/frameset.dtd">
<html style="background: #212E3D;">
<head>
<title><%= @title %></title>
</head>
<frameset rows="55, 100%" style="backround:red">
   <frame frameborder="0" marginheight="0" marginwidth="0" noresize="noresize" scrolling="no" src="/partners/duffel-bar.html?l=<%= @partner_url %>">
   <frame frameborder="0" marginheight="0" marginwidth="0" noresize="noresize" scrolling="yes" name="_top1" id="_top1" src="<%= @partner_url %>">
</frameset>

</html>