<%= javascript_include_tag 'all' %>

<%= render :partial => 'right_menu'%>

<div id="site">
<h1>Press Center</h1>
<p>Welcome press, bloggers, analysts and industry experts. Please find our press kit here,<br/> or <a href="mailto:press@duffelup.com">email us</a> directly with any inquiries. We look forward to talking with you soon!</p>

<h2 id="press-kit">Press Kit</h2>

<ul>
	<li class="bullet"><a href="#" onclick="$('press-releases').show();return false;">Duffel Press Releases</a>
		<ul id="press-releases" class="t12" style="display: none; margin: 10px 0 10px 20px;">
			<li class="bullet"><a href="#duffel-launches">Duffel Launches a Comprehensive Travel Planning Tool</a> <small class="mute">November 4, 2009</small></li>
			<li class="bullet"><a href="#duffel-premieres">Duffel Premieres Visual Trip Planning Dashboard <br />– The Simplest and Most Versatile Tool for Organizing Travel Research</a> <small class="mute">September 15, 2009</small></li>
		</ul>
	</li>
	<li class="bullet"><a href="http://blog.duffelup.com" target="_blank">Duffel Blog</a> <small class="mute">(New window: http://blog.duffelup.com)</small></li>
	<li class="bullet"><a href="#" onclick="$('logos').show();return false;">Duffel Logo</a>
		<ul id="logos" class="t12" style="display: none; margin: 10px 0 10px 20px;">
			<li class="bullet"><a href="/images/press/duffel-logo-dark.jpg">.jpg 500x300px</a> <span class="mute">(dark background)</span></li>
			<li class="bullet"><a href="/images/press/duffel-logo-white.jpg">.jpg 500x300px</a> <span class="mute">(white background)</span> </li>
			<li class="bullet"><a href="/images/press/duffel-logo-transparent.jpg">.png 500x300px</a> <span class="mute">(transparent)</span> </li>
			<li class="bullet"><a href="/images/press/duffel-logo.eps">.eps</a> <span class="mute">(vector)</span> </li>
		</ul>
	</li>
</ul>

<h2>&nbsp;</h2>
<h2 id="press-contact">Press Contact</h2>
<div>Email: <a href="mailto:press@duffelup.com">press@duffelup.com</a></div>

<h2>&nbsp;</h2>
<h2 id="press-news">News</h2>

<ul>
	<li class="clear">
		<div class="press-image"><img width="100" src="/images/press/allmyfaves-logo.jpg" alt="AllMyFaves" /></div>
		<a href="http://www.allmyfaves.com/blog/weekly-faves/have-web-2-0-will-travel-10-must-online-travel-tools/">Have Web 2.0, Will Travel: 10 Must Online Travel Tools</a><br />
		<small class="mute">All My Faves - December 11, 2009</small>
	</li>
	<li class="clear">
		<div class="press-image"><img width="100" src="/images/press/mademan-logo.gif" alt="MadeMan" /></div>
		<a href="http://www.mademan.com/organize-your-dream-vacation/">Organize Your Dream Vacation</a><br />
		<small class="mute">Mademan - December 10, 2009</small>
	</li>
	<li class="clear">
		<div class="press-image"><img width="100" src="/images/press/urbandaddy-logo.gif" alt="UrbanDaddy" /></div>
		<a href="http://www.urbandaddy.com/ntl/weekender/8372/The_Weekender_Bad_Santas_High_Tech_Sleep_and_Congo_Style_National_NTL">Trip Planning Made Easy</a><br />
		<small class="mute">UrbanDaddy - December 10, 2009</small>
	</li>
	<li class="clear">
		<div class="press-image"><img width="100" src="/images/press/techcrunch-logo.jpg" alt="TechCrunch" /></div>
		<a href="http://www.techcrunch.com/2009/12/03/duffel-trip-planner/">Duffel: A Virtual Bulletin Board For Planning Your Next Trip</a><br />
		<small class="mute">TechCrunch - December 3, 2009</small>
	</li>
	<li class="clear">
		<div class="press-image"><img width="100" src="/images/press/killlerstartups-logo.png" alt="KillerStatups" /></div>
		<a href="http://www.killerstartups.com/Web-App-Tools/duffelup-com-a-dynamic-way-to-arrange-a-travel">DuffelUp.com - A Dynamic Way To Arrange A Travel</a><br />
		<small class="mute">Killer Startups - November 18, 2009</small>
	</li>
	<li class="clear">
		<div class="press-image"><img width="50" src="/images/press/thrillist-logo.gif" alt="Thrillist" /></div>
		<a href="http://www.thrillist.com/nation/duffle">Duffel</a><br />
		<small class="mute">Thrillist - November 6, 2009</small>
	</li>
	<li class="clear">
		<div class="press-image"><img width="100" src="/images/press/rww-logo.png" alt="RWW" /></div>
		<a href="http://www.readwriteweb.com/readwritestart/2009/11/beyond-the-backpack-duffel.php">Beyond the Backpack: Duffel Builds Your Travel Dossier</a><br />
		<small class="mute">ReadWriteWeb/ReadWriteStart - November 4, 2009</small>
	</li>
	<li class="clear">
		<div class="press-image"><img width="100" src="/images/press/rev2-logo.png" alt="Rev2" /></div>
		<a href="http://www.rev2.org/2009/11/04/duffel-visual-trip-planning-online/">Duffel – Visual Trip Planning, Online</a><br />
		<small class="mute">Rev2.org - November 4, 2009</small>
	</li>
	<li class="clear">
		<div class="press-image"><img width="100" src="/images/press/latimes-logo.jpg" alt="LA Times" /></div>
		<a href="http://travel.latimes.com/articles/la-tr-webbuzz11-2009oct11">Duffelup.com helps you stick close to the planning basics</a><br />
		<small class="mute">Los Angeles Times Travel - October 9, 2009</small>
	</li>
	<li class="clear">
		<div class="press-image"><img width="100" src="/images/press/webrazzi-logo.jpg" alt="WebRazzi" /></div>
		<a href="http://en.webrazzi.com/2009/10/02/duffelup-com-the-easiest-way-to-plan-your-travel/">DuffelUp.com: The Easiest Way to Plan Your Travel</a><br />
		<small class="mute">WebRazzi - October 2, 2009</small>
	</li>
</ul>

<h2>&nbsp;</h2>
<h2 id="what-people-are-saying">What People Are Saying</h2>

<p>"What is unique about Duffel is the way it presents the trip planning process to the user.  The Apple influenced design, sticky notes, and note cards are simple to visualize, move, and edit making the planning process a fun experience."
<a href="http://tourismtechnology.rezgo.com/2009/12/travel-tech-review-planning-with-duffelup-com.html">Stephen Joyce, Trave & Tourism Technology Trends</a></p>

<p>"A sexy and more collaborative version of Google Calender! I love the pin-board visual and the drag & drop functionality makes shuffling activities much easier."
<a href="http://www.iatemywaythrough.com/blog/2009/09/trip-planning.html">Jennifer Lam, I Ate My Way Through</a></p>

<p>"The most useful thing about Duffel is that the interface is straightforward and uncluttered. You can just drag and drop items with your mouse. Even if you’re not a computer whiz, it’s fairly easy to learn how to use it."
<a href="http://www.vagablogging.net/planning-your-trips-with-duffel.html">Rolf Potts, Vagablogging</a></p>

<p>"My personal favourite in [great sites to improve your travel], Duffel offers an unique interface for planning your travels. It gives you a large corkboard-like interface to plan your itinerary."
<a href="http://web.appstorm.net/roundups/travel/12-grea-sites-to-improve-your-travel/">Chris Bowler, AppStorm</a></p>


<h2>&nbsp;</h2>
<h2 id="press-release">Press Release</h2>

<h3 id="duffel-launches"><big><strong>Duffel Launches a Comprehensive Travel Planning Tool</strong></big></h3>
<p>
	Web Service Culls Travel Information From Across the Web Into Centralized, Social Trip Planning Tool 
</p>
<p>
	Palo Alto — November 4, 2009 — Duffel (<a href="http://duffelup.com">http://duffelup.com</a>), which premiered at TechCrunch50 2009, announced today the launch of their comprehensive, centralized trip-planning dashboard – with tools that enable travelers to drag and drop information on lodging, dining and activities from across the Web, get travel inspiration by viewing other members’ public itineraries, and plan group trips involving multiple destination experts. 
</p>
<p>
	"When planning a vacation, travelers use many mediums and many sources to build their itineraries – advice from friends, travel Web sites, magazine articles, and TV shows,” explains Will Cheung, founder and CEO of Duffel. “Duffel picks up where other travel planning sites leave off. Our service allows you to aggregate the suggestions you find from across the Web with a single click, map out your potential lodging and compare it to desired restaurants and landmarks, and use our travel partners to actually book your trips.” 
</p>
<p>
	The service, which targets recreational travelers and group travelers, offers members the ability to: 
</p>
<ul id="site_page">
	    <li>Clip travel ideas from anywhere on the Web with a single click, and add them to their personal travel itineraries, or “duffels”</li>
	    <li>Collect and lay out travel research in an organized, central dashboard</li>
		<li>Map out potential hotels, restaurants and travel attractions to make the best lodging and dining decisions, based on location</li>
	    <li>Plan group trips that involve multiple destination experts, with multiple parties having the ability to add to the group’s duffel</li>
	    <li>Share research ideas, itineraries and maps privately or publicly, as well as gain travel insight by reviewing others’ duffels</li>
</ul>
<p>
	Duffel premiered at <a href="http://www.techcrunch50.com/2009/the-demopit/">TechCrunch50 2009</a>. The company competed against more than 1000 submissions for the honor to present their product among the year’s top Web 2.0 start up companies. 
</p>

<p><strong>About Duffel</strong> </p>
<p>
	Based in Palo Alto, CA, Duffel (<a href="http://duffelup.com">http://duffelup.com</a>) is comprehensive, centralized trip-planning dashboard – with tools that enable travelers to drag and drop information on lodging, dining and activities from across the Web, get travel inspiration by viewing other members’ public itineraries, and plan group trips involving multiple destination experts. The service, which premiered at TechCrunch50, launched in November, 2009. Duffel is privately funded.
</p>

<h2>&nbsp;</h2>
<h3 id="duffel-premieres"><big><strong>Duffel Premieres Visual Trip Planning Dashboard – The Simplest and Most Versatile Tool for Organizing Travel Research</strong></big></h3>

<p>
	Palo Alto — September 15, 2009 – Trip planning doesn’t have to be chaotic.  Duffel announced the premiere of <a href="http://duffelup.com">DuffelUp.com</a>, an innovative way for users to organize travel planning using its visually engaging interface.  With DuffelUp.com, travelers can create a “duffel” and clip flight confirmations, accommodations and attractions from the web as they browse.  Users can sort the clippings in their duffel to create their own itinerary, benefiting from a bit of harmony during their trip planning process.
</p>
<p>
	Founded in 2009, and a DEMO.com demonstrator candidate, Duffel was unveiled as a <a href="http://www.techcrunch50.com/2009/the-demopit/">DemoPit finalist</a> at the TechCrunch50 conference in San Francisco, California.  The fun with Duffel starts as users collect hours of travel research and map out their locations.  The dashboard visually lays out the travel notes and lets users drag, drop, and sort them into a day-by-day itinerary.  Duffel also embraces collaboration when multiple travelers are involved, allowing group travelers to contribute their ideas into the same duffel.  Itineraries can then be printed to-go and shared across the Duffel community.
</p>
<p>
	“Because trip planning can be the toughest part about traveling, we decided that this was not a good way to begin our adventures,” said Will Cheung, Duffel founder and CEO, “our mission is to jump start the fun, not on our departure date, but at the planning stage.”  Duffel provides a flexible dashboard that, even when not planning a trip, potential travelers can add ideas as they browse through interesting articles or restaurant reviews online.  When they are ready to plan their vacation, half the travel research has already been done.  
<p>
	Duffel has a highly interactive interface and numerous features that empower trip planners to easily plan their adventures:
</p>

<ul id="site_page">
	<li>Clip ideas anywhere from the web with one-click</li>
	<li>Collect and lay out travel research and notes on virtual post-it notes</li>
	<li>Plot excursion ideas on Google map</li>
	<li>Drag and drop the ideas into an itinerary</li>
	<li>Share and collaborate with friends on Facebook or Twitter</li>
	<li>Browse duffels created by other travel enthusiast </li>
	<li>Print personalized and complete itineraries</li>
</ul>
<p>
Planning might not always be the best part of a vacation, but it certainly shouldn’t be tedious.  Let Duffel help organize your travel so you can spend more time seeing the world.
</p>

<p><strong>About Duffel</strong></p>
<p>
Founded in 2009 and based in Palo Alto, Duffel’s mission is to help collect, organize, and visualize travel research from anywhere on the web.  By automatically laying out and mapping the activities, hotels, and restaurants ideas during trip planning, the tool allows every traveler to compile and print their personalized travel guides.  Group travelers can also collaboratively contribute ideas and as a result, making trip planning smooth and easy.  For more information, visit <a href="http://duffelup.com">http://duffelup.com</a>.
</p>

</div>