<div id="primary-inner">
<h1>Privacy Policy</h1>
<p>
Your privacy is important to us. This Privacy Policy covers the website DuffelUp.com, which is owned by Duffel, Inc. Your use of any part of the DuffelUp.com service ("Service") will constitute your agreement to this Privacy Policy. If you cannot agree with the terms and conditions of this Privacy Policy, please do not use the Service. This Privacy Policy does not cover information collected elsewhere, including, without limitation, offline or on sites linked to through the Service.</p>
<p>
In addition to reviewing this Privacy Policy, please read our <%= link_to "Terms of Use", {:controller => 'site', :action => 'terms_of_use'}, :id => 'site' %> . Your use of the Service constitutes agreement to the Terms of Use as well. </p>

<p>By using this website you consent to the following terms:</p>

<h2>Information Collection</h2>
<p>
DuffelUp.com collects personal information when you use our travel services. For example, when you register with DuffelUp.com, we ask for your name and email address. In the future, to complete a transaction we may also ask for your phone number, mailing address, preferences and credit card number. To better serve you, DuffelUp.com may combine information about you that we have with information we obtain from suppliers, business partners, or other companies. In addition, DuffelUp.com automatically receives and records information in our server logs from your browser, including your IP address, browser type, and the pages you request. This information does not necessarily enable us to personally identify you.
</p>
 

<h2>Information Use</h2>
<p>
DuffelUp.com uses your personal information for the following purposes: To verify your authorization to access certain features of the site, to fulfill your requests for products or services, to personalize and customize the content and relevant trip services that you are offered, to contact you, to improve our services, and to provide analytics and marketing reporting.
</p>
<p>
From time to time, we also may share general statistical information about our Site and visitors such as the number of visitors, aggregate and non-personally identifiable demographic data, etc., with our advertisers and partners. However, we will not reveal your name, address or other personal data without giving you the opportunity to opt out.
</p>
<p>
Other than as set out above, you will be notified when personal information about you will be shared with third parties, and you will have an opportunity to choose not to have us share such information.
</p>

<h2>Information Sharing and Disclosure</h2>
<p>
DuffelUp.com does not rent, sell, or share personal information about you with other people or companies except (i) to provide products or services you have requested including, without limitation, products and services from third parties, (ii) when we have your permission, or (iii) under the following circumstances: * DuffelUp.com may use third party vendors to assist us in providing our products or services and may transfer your personally identifiable information to such vendors who have entered into a contract with us that protects the confidentiality of your information and permits the vendor to use it only as necessary to fulfill its contract; * In response to subpoenas, court orders, or legal process, or to establish or exercise our legal rights or defend against legal claims; * When we believe it is necessary to share information in order to investigate, prevent, or take action regarding illegal activities, suspected fraud, situations involving potential threats to the physical safety of any person, violations of DuffelUp.com 's Terms of Service, or as otherwise required by law; * We may transfer information about you if DuffelUp.com is acquired by or merged with another company. In this event, DuffelUp.com will notify you by sending a notice to the email address specified in your DuffelUp.com account before information about you becomes subject to a different privacy policy.
</p>
 
<h2>Cookies</h2>
<p>
DuffelUp.com sets and accesses cookies on your computer. A cookie is a small amount of data that DuffelUp.com's servers transfer to your browser and that only DuffelUp.com's servers can read. When you visit the site, the cookie captures specific session data to streamline your experience and, if you select to save your member name and password, DuffelUp.com will save this information in a cookie so that you will not be required to sign in each time you visit the site. You may disable or delete cookies from within your Internet browser application by accessing the security or privacy settings. However, DuffelUp.com requires you to have cookies enabled to access certain portions of the site. DuffelUp.com may allow other companies that show advertisements on some of our pages to set and access their cookies on your computer. Other companies' use of their cookies is subject to their privacy policies, not this one. Other companies do not have access to DuffelUp.com's cookies.
</p>

<h2>Links to Third Party Sites</h2>
<p>
For your convenience, we may provide links to third party websites or referrals to certain third parties' products or services. If you choose to visit a third party's web site or use its products or services, please be aware that this privacy policy will not govern your activities and any information you disclose to such third party.
</p>
 
<h2>Confidentiality and Security</h2>
<p>
We limit access to personal information about you to employees who we believe have a legitimate need to come into contact with that information to provide products or services to you or in order to do their jobs. DuffelUp.com employs procedural and technical measures reasonably designed to protect your personal information from loss, misuse, unauthorized access or disclosure. Although we make good faith efforts to store the information collected in a secure operating environment that is not accessible to the public, we cannot guarantee complete security.
</p>

<h2>Community - Information Sharing among DuffelUp.com Users</h2>
<p>
Once you save your trip in DuffelUp.com's system, other users may be able to view your shared travel itinerary, unless you choose specifically not to share your travel plans (Private vs. Public trip). To ensure your privacy, DuffelUp.com does not display your email address or contact information to users, unless you desire to do so. Please note that if you choose to include personally identifiable information in your comments, open text fields, or other areas of the web site intended for public viewing, other users will be able to view and use this information. We recommend against posting your email address and other personally identifiable information in this manner unless you are comfortable with the possibility of receiving unwanted contact.
</p>
 
<h2>Accessing, Reviewing and Changing Your Personal Information</h2>
<p>
We will offer you the ability to access, review and change certain information via the Registration page. Upon your request, we will deactivate your account, and remove your personal information from active service. To make this request, please contact us. Your account will be deactivated as soon as reasonably possible based on your account activity. We will retain in our files and databases some personal information to prevent fraud, collect any fees owed, resolve disputes, troubleshoot problems, assist with any investigations, enforce our Terms of Service and comply with legal requirements as permitted by law. Therefore, you should not expect that all of your personal information will be immediately removed from our databases in response to your request.
</p>
 
<h2>Modification to this Privacy Policy</h2>
<p>
DuffelUp.com may update this policy. We will notify you about significant changes in the way we treat personal information by sending a notice to the email address specified in your DuffelUp.com account or by placing a notice on our site.</p>
</div>