<div id="primary-inner" class="big">
    <div>
	   	<% form_tag search_path, :method => 'get', :id => 'search_form' do %>
		  <p>
		    <%= text_field_tag :q, params[:q], :size => 25, :class => 'big', :placeholder => 'Find a place...' %>
		    <%= submit_tag "Find", :name => nil, :class => 'btn-large btn-primary' %>
		  </p>
		<% end %>
    </div>
	<div class="clear"></div>
	
	<div id="search_result" style="margin: 0 0 0 10px">
		<%= render :partial => "site/site_search_result" %>
	</div>
	
	<div class="clear"></div>

	<%= render :partial => "cities/cities_box" %>
</div>