<ul class="cities_box">
	<h3 style="font-size:13px;color:#666;margin-bottom:10px;">Visit more of Duffel's popular cities</h3>
	
	<li class="cities_list_20"><a title="Amsterdam, Netherlands" href="http://duffelup.com/nl/amsterdam">Amsterdam</a></li>
	
	<li class="cities_list_20"><a title="Athens, Greece" href="http://duffelup.com/gr/athens">Athens</a></li>

	<li class="cities_list_20"><a title="Bangkok, Thailand" href="http://duffelup.com/th/bangkok">Bangkok</a></li>

	<li class="cities_list_20"><a title="Barcelona, Spain" href="http://duffelup.com/es/barcelona">Barcelona</a></li>

	<li class="cities_list_20"><a title="Beijing, China" href="http://duffelup.com/cn/beijing">Beijing</a></li>

	<li class="cities_list_20"><a title="Berlin, Germany" href="http://duffelup.com/de/berlin">Berlin</a></li>

	<li class="cities_list_20"><a title="Boston, MA, United States" href="http://duffelup.com/us/ma/boston">Boston</a></li>

	<li class="cities_list_20"><a title="Brussels, Belgium" href="http://duffelup.com/be/brussels">Brussels</a></li>

	<li class="cities_list_20"><a title="Buenos Aires, Argentina" href="http://duffelup.com/AR/buenos-aires">Buenos Aires</a></li>
	
	<li class="cities_list_20"><a title="Chicago, IL, United States" href="http://duffelup.com/us/il/chicago">Chicago</a></li>

	<li class="cities_list_20"><a title="Copenhagen, Denmark" href="http://duffelup.com/dk/copenhagen">Copenhagen</a></li>

	<li class="cities_list_20"><a title="Denver, CO, United States" href="http://duffelup.com/us/co/denver">Denver</a></li>

	<li class="cities_list_20"><a title="Dublin, Ireland" href="http://duffelup.com/ie/dublin">Dublin</a></li>

	<li class="cities_list_20"><a title="Geneva, Switzerland" href="http://duffelup.com/ch/geneva">Geneva</a></li>

	<li class="cities_list_20"><a title="Helsinki, Finland" href="http://duffelup.com/fi/helsinki">Helsinki</a></li>

	<li class="cities_list_20"><a title="Hong Kong, China" href="http://duffelup.com/hk/hong-kong">Hong Kong</a></li>

	<li class="cities_list_20"><a title="Las Vegas, NV, United States" href="http://duffelup.com/us/nv/las-vegas">Las Vegas</a></li>

	<li class="cities_list_20"><a title="London, United Kingdom" href="http://duffelup.com/gb/london">London</a></li>

	<li class="cities_list_20"><a title="Los Angeles, CA, United States" href="http://duffelup.com/us/ca/los-angeles">Los Angeles</a></li>

	<li class="cities_list_20"><a title="Madrid, Spain" href="http://duffelup.com/es/madrid">Madrid</a></li>

	<li class="cities_list_20"><a title="Melbourne, Australia" href="http://duffelup.com/au/melbourne">Melbourne</a></li>

	<li class="cities_list_20"><a title="Miami, FL, United States" href="http://duffelup.com/us/fl/miami">Miami</a></li>

	<li class="cities_list_20"><a title="Milan, Italy" href="http://duffelup.com/it/milan">Milan</a></li>

	<li class="cities_list_20"><a title="Munich, Germany" href="http://duffelup.com/de/munich">Munich</a></li>

	<li class="cities_list_20"><a title="New York, NY, United States" href="http://duffelup.com/us/ny/new-york">New York</a></li>

	<li class="cities_list_20"><a title="Oslo, Norway" href="http://duffelup.com/no/oslo">Oslo</a></li>

	<li class="cities_list_20"><a title="Paris, France" href="http://duffelup.com/fr/paris">Paris</a></li>

	<li class="cities_list_20"><a title="Portland, OR, United States" href="http://duffelup.com/us/or/portland">Portland</a></li>

	<li class="cities_list_20"><a title="Prague, Czech Republic" href="http://duffelup.com/cz/prague">Prague</a></li>

	<li class="cities_list_20"><a title="Rome, Italy" href="http://duffelup.com/it/rome">Rome</a></li>

	<li class="cities_list_20"><a title="San Diego, CA, United States" href="http://duffelup.com/us/ca/san-diego">San Diego</a></li>

	<li class="cities_list_20"><a title="San Francisco, CA, United States" href="http://duffelup.com/us/ca/san-francisco">San Francisco</a></li>

	<li class="cities_list_20"><a title="Seattle, WA, United States" href="http://duffelup.com/us/wa/seattle">Seattle</a></li>

	<li class="cities_list_20"><a title="Shanghai, China" href="http://duffelup.com/cn/shanghai">Shanghai</a></li>

	<li class="cities_list_20"><a title="Singapore, Singapore" href="http://duffelup.com/sg/singapore">Singapore</a></li>

	<li class="cities_list_20"><a title="Stockholm, Sweden" href="http://duffelup.com/se/stockholm">Stockholm</a></li>

	<li class="cities_list_20"><a title="Sydney, Australia" href="http://duffelup.com/au/sydney">Sydney</a></li>

	<li class="cities_list_20"><a title="Tokyo, Japan" href="http://duffelup.com/jp/tokyo">Tokyo</a></li>

	<li class="cities_list_20"><a title="Toronto, Canada" href="http://duffelup.com/ca/toronto">Toronto</a></li>

	<li class="cities_list_20"><a title="Vancouver, Canada" href="http://duffelup.com/ca/vancouver">Vancouver</a></li>

	<li class="cities_list_20"><a title="Vienna, Austria" href="http://duffelup.com/at/vienna">Vienna</a></li>

	<li class="cities_list_20"><a title="Washington, DC, United States" href="http://duffelup.com/us/dc/washington">Washington</a></li>

</ul>