<div id="central">
	<h3>Duffel's popular cities in</h3>
	<h1><%= @country.city_country %></h1>
	
	<div class="gmap" id="city_gmap"></div>
	
	<br/>
	
	<ul class="cities_box">
		<% @top_cities.each do |c| %>
		<li class="cities_list">
		    <a href="<%= c.url %>"><%= c.city %></a>
		</li>
		<% end %>
	</ul>
	
	<div class="clear"></div>

</div>