<% unless defined?(profile) %>
<ul class="tabs">
	<li class="friends"><a id="my-friends-link" <% if (params[:tab]=="updates" and params[:subtab].nil?) or params[:tab].nil? %> class="selected" <% end %> onclick="location.search='tab=updates';$('duffel-network-link').removeClassName('selected');this.addClassName('selected');return false;" href="#">My Friends</a></li>
	<li class="all"><a id="duffel-network-link" <% if params[:tab]=="updates" and params[:subtab]=="all" %> class="selected" <% end %> onclick="location.search='tab=updates&subtab=all';$('my-friends-link').removeClassName('selected');this.addClassName('selected');return false;" href="#">Duffel Network</a></li>
</ul>
<% end %>

<div id="updates" <% unless defined?(profile) %>style="border-top: 1px solid #CCCCCC;"<% end %>>
	
	<% if (!@news_feed_with_total_pages.nil? and !@news_feed_with_total_pages.empty?) %>
	<div id="activities_container" class="display">
    	<div id="activities_feed">
			<%= render :partial => "activities_feeds/activities_feed", :collection => group_activities(@news_feed_with_total_pages) %>
	    </div>

		<div class="clearfix"></div>
		
		<% if defined?(profile) %>
		<%= will_paginate @news_feed_with_total_pages, 
						:params => {:controller => 'users', :action => 'more_news_feed', :profile => profile},
						:renderer => FlowPagination::LinkRenderer %>
		<% else %>
		<%= will_paginate @news_feed_with_total_pages, 
						:params => {:controller => 'users', :action => 'more_news_feed', :subtab => params[:subtab]},
						:renderer => FlowPagination::LinkRenderer %>
		<% end %>
	
	</div>
	
	<script type="text/javascript"> 
		if ($('#activities_container input[type=button]').first() != null){
			$('#activities_container input[type=button]').first().bind('click',function() {
				$('#activities_container input[type=button]').first().value="loading...";$('#activities_container input[type=button]').first().disabled=true;});
		};
	</script>
	
	<% else %>
	<% unless defined?(profile)%>
		<p>No updates.  Go find some friends!</p>
	<% else %>
		<p>No updates from <%= params[:username] %>.</p>
	<% end %>
	<% end %>
</div> <!-- #updates -->
